* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background-color: palevioletred;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.input-value {
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 60%;
}

.btn {
    padding: 8px 16px;
    border: none;
    background: skyblue;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.done-btn {
    background-color: rgb(76, 159, 76);
    color: #fff;
    border: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 8px;
}

.del-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 8px;
}


.container {
    display: flex;

    text-align: start;
    background: #fff;
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    overflow-x: auto;
    overflow-y: hidden;
}

.line {
    text-decoration: line-through;
}

.container div {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}
